<div class="form_container">
  <%= form_with(model: list, local: true) do |form| %>
  <% if list.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(list.errors.count, "error") %> prohibited this list from being saved:</h2>

      <ul>
        <% list.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :category, style: "display: block" %>
    <%= form.select :category, options_for_select([['Work', 'work'], ['Personal', 'personal'], ['Study', 'study'], ['Health', 'health'], ['Finance', 'finance'], ['Social', 'social'], ['Travel', 'travel'], ['Projects', 'projects'], ['Leisure', 'leisure'], ['Priority', 'priority']]), {}, { class: 'form-select' } %>
  </div>

  <div>
    <%= form.submit %>
  </div>
  
<% end %>
</div>
