
<%= link_to 'Back', '/', class: 'back_home' %>
<%= form_with(model: [@list, @task], local: true) do |form| %>
    <div class="form_new_task">
        <div class="input_title">
          <%= form.label :title, style: "display: none;" %>
          <%= form.text_field :title, placeholder: "New task", id: 'task_title' %>
        </div>

        <div class="btn_submit">
            <%= form.submit "+", id: 'submit', disabled: true%>
        </div>
    </div>
<%end%>


<script>
  document.addEventListener('DOMContentLoaded', function() {
    const taskTitleInput = document.getElementById('task_title');
    const submitButton = document.getElementById('submit');

    taskTitleInput.addEventListener('input', function() {
      submitButton.disabled = taskTitleInput.value.trim() === ''; // Desativa o botão se o campo estiver vazio
    }); 
  });
</script>