

<div class="content">
    <%= render "form", task: @task%>
    <div class="list">
      <h4>Tasks to do - <%= @tasks.length%></h4>
      <% filter_not_completed(@tasks).each do |task| %>
        <div class="list_item">
          <div class="item_content">
            <p id="taskTitle_<%= task.id %>" class="taskTitle">
            <%= task.title %>
            </p>
            <div id="formUpdateTask_<%= task.id %>" class="formUpdateTask hidden">
              <%= form_with(model: task, local:true , url: update_task_path(task.id)) do |form| %>
                <div>
                  <%= form.text_field :title %>
                </div>
              <%end%>
            </div>
          </div>
          <div class="btn_list">
            <%= button_to update_task_path(task.id, completed: true), method: :put, class: "btn_edit" do %>
              <%= image_tag 'icon_ok.svg' %>
            <%end%>
            <%= button_to delete_task_path(task.id), method: :delete, class: "btn_remove" do %>
              <%= image_tag 'icon_trash.svg' %>
            <%end%>
          </div>
        </div>
      <% end %>
      <h4>Done - <%=filter_completed(@tasks).length %></h4>
      <% filter_completed(@tasks).each do |task| %>
        <div class="list_item">
          <div class="item_info">
            <p class="task_completed"><%= task.title %></p>
            <div class="date_content"><%=transform_format_date(task.done_at)%></div>
          </div>
          <div class="btn_list">
            <%= button_to update_task_path(task.id, completed: false), method: :put, class: "btn_edit" do %>
                <%= image_tag 'icon_close.svg' %>
            <%end%>
          </div>
        </div>
      <%end%>
    </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
     document.querySelectorAll(".taskTitle").forEach(function(title) {
      title.addEventListener("click", function() {
        const taskId = title.id.split('_')[1];
        const form = document.getElementById(`formUpdateTask_${taskId}`);
        title.classList.add("hidden");
        form.classList.remove("hidden");
      });
    });
  });
</script>