<!DOCTYPE html>
<html>
  <head>
    <title>Todolist</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <div class="head_page">
      <%= image_tag 'icon_app.svg'%>
      <p class="to">to</p>
      <p class="do">do</p>
    </div>
    <%= yield %>
  </body>
</html>
