<!DOCTYPE html>
<html>
  <head>
    <title>Todolist</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'icon_app.svg' %>
  </head>
  <body>
    <%= yield %>
    <div id="flash-card" class="flash-card <%= flash[:error] ? 'error' : '' %>">
      <%= flash[:notice] || flash[:error] %>
    </div>
    <script>
      document.addEventListener('DOMContentLoaded', () => {
        const flashCard = document.getElementById('flash-card');

        if (flashCard && flashCard.textContent.trim() != "") {
          flashCard.classList.add('show');

          setTimeout(() => {
            flashCard.classList.remove('show');
          }, 3000);
        }
      });
    </script>
  </body>
</html>